
body {
    text-align: center;
    }

h1 {
    font-family : Papyrus;
    color: black;
    padding: 25px;
}
h2 {
    color: black;
}

li {
    display: grid;
    padding: 60px;
    color: black ; 
}

p {
    padding: 50px;
    color: black;
}

footer {
    bottom: 0;
    text-align: center;
    width:  100%; 
}
.footer-text {
    color: green;
    font-weight: bold;
    border: none;
    padding: 0;
}

