.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: 800px;
    justify-content: stretch;
    background-color: lightgrey;
}

div {
    font-weight:200px ;
    height: 200px;
    background-color: lightgreen;
    justify-content: space-around;

}

#navigation {
    width: 1200px;
    background-color: lightblue;
}