.container {
    width: 1400px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
   
    }

body {
    text-align: center;
    color: pink;
   
}
  
#header-bar{
  
    grid-column:2/4;
    grid-row:1/2;
    
}
#section-bar{
  
    grid-column:2/4 ;
    grid-row: 2/3
   
}
#footer-bar{
 
    grid-column: 2/4;
    grid-row: 3/4;
  
    }

h1 {
    font-family: papyrus;
    color: green;
}

footer {
    
    bottom: 0;
    text-align: center;
    width:  100%;
    
}

body {

background-color:rgb(177, 208, 192)

}

img {
    box-shadow: 10px 5px 5px green ;
}

p {
    font-family: Papyrus;
    color: green;
}

h2 {
    font-family: Papyrus;
    color: green;
}