


body {
    text-align: center;
   
}

h1 {
    font-family : Papyrus;
    color: green;
    padding: 25px;
}
h2 {
    color: green;
}

li {
    display: grid;
    padding: 60px;
    color: black ;
    
}

p {
    border: 1px solid black;
    padding: 50px;
    color: green;
   
}

footer {
    
    bottom: 0;
    text-align: center;
    width:  100%;
}


